.post-1 {
    background-image: url("../images/1.jpg");
}

.post-2 {
    background-image: url("../images/5.jpg");
}

.post-3 {
    background-image: url("../images/3.jpg");
}

.post-4 {
    background-image: url("../images/4.jpg");
}

.post-5 {
    background-image: url("../images/2.jpg");
}

.post-6 {
    background-image: url("../images/6.jpg");
}
