@import "social-sharing-icons.css";
.footer {
  text-align: center;
  color: black;
  padding: 10px 0px;
  margin: 0px 15px 20px 15px;
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subscribe-link {
  color: gray;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .footer-items {
    flex-direction: column;
  }
  .social-sharing {
    margin: 10px 0px;
  }
}
